* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/nig.jpeg");
    background-size: 1370px 1800px;
    background-position: 50% 25%;
    font-family: sans-serif;
}


@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blinktxt {
    font-size: 20px;
    color: red;
    position: relative;
    left: 0%;
    z-index: -1;
}

header {
    background-color: #111;
}


.countdownContainer {
    position: absolute;;
    top: 13%;
    left: 25%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    background: #ff5050;
    border: 1px solid #999;
    padding: 10px;
    box-shadow: 0 0 5px 3px #ccc;
}

.info {
    font-size: 30px;
    color: #fff;
}

.menu-bar {
    text-align: left;
    background-color: #111;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
    border-radius: 30px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
}

.active, .menu-bar ul li:hover {
    background: #ff5050;
    border-radius: 3px;
    border-radius: 30px;
}

.sub-menu-1 {
    display: none;
    border-radius: 15px;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: #ff5050;
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
    color: black;
}

.content {
    margin: 0;
    padding: 0;
    color: #d9d9d9;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.column:hover + .delete {
    display: block;
    color: red;
}

.delete {
    display: none;
}


.content1 {
    position: relative;
    margin: 130px auto;
    text-align: center;
    padding: 0 20px;
}

.content1 .text {
    font-size: 2.5rem;
    font-weight: 600;
    color: #202020;
}

.content1 .p {
    font-size: 2.1875rem;
    font-weight: 600;
    color: #202020;
}

.user1 {
    position: absolute;;
    top: 14%;
    left: 90%;
    transform: translateX(-50%) translateY(-50%);
}

.user2 {
    position: absolute;;
    top: 11%;
    left: 85%;
    transform: translateX(-50%) translateY(-50%);
}

.button1 {
    text-decoration: none;
    font-family: Arial;
    font-size: 16px;
    color: #ff5050;
    text-align: right;
}

.button2 {
    background-color: #ff5050; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
}


.time1 {
    text-decoration: none;
    font-family: Arial;
    font-size: 20px;
    border-radius: 9px;
    padding: 13px 10px;
    background-color: #ff5050;
    color: #ffffff;
    position: absolute;;
    top: 30%;
    left: 63%;
    transform: translateX(-50%) translateY(-50%);


}

a.time1:hover {
    color: white;;
    font-size: 30px;
    transition: 0.9s;
    background-color: #ff6600;
}

.box10 {
    box-sizing: border-box;
    width: 300px;
    height: 350px;
    padding: 10px;

}


h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px 0 10px;
}


.row,
.row > .column {
    padding: 10px;
}


.column {
    transition: width 0.5s;
    float: left;
    height: 450px;
    width: 280px;
}

.column:hover {
    width: 290px;
    height: 460px;
    opacity: 0.8;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}


.content {
    background-color: #111;
    padding: 10px;
}


@media screen and (max-width: 900px) {
    .column {
        width: 250px;
        height: 450px;
    }
}


@media screen and (max-width: 600px) {
    .column {
        width: 200px;
        height: 400px;
    }
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #d9d9d9;
    color: black;

}

.previous {
    background-color: #a6a6a6;
    color: black;
    font-size: 33px;
}

.next {
    background-color: red;
    color: white;
    font-size: 33px;
}

.next:hover {
    cursor: pointer;
}

.mybtn {background-color: red;
  color: white;
  font-size:41px;

}

/*FOOTER*/


footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    background: #111;
}

.main-content {
    display: flex;
}

.box {
    flex-basis: 50%;
    padding: 10px 20px;
}

.bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
}

@media screen and (max-width: 900px) {
    footer {
        position: relative;
        bottom: 0px;
    }

    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .main-content .box {
        margin: 5px 0;
    }

    .sizegtr {
        position: absolute;
        height: 50px;
        width: 200px;
    }

    .positiongtr {
        position: relative;
        left: 50%;
    }
}
